body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: black;
  color: white;

}

.app {
  padding: 40px;
  min-height: 100vh;       /* ensures it fills the viewport */
  background-color: #000;  /* solid black */
  color: white;            /* default text color */
  display: flex;           /* optional: center content vertically */
  flex-direction: column;
}
